<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/index-style.css" rel="stylesheet" type="text/css">
    <link href="/css/profile.css" rel="stylesheet" type="text/css">
    <link href="/css/comments.css" rel="stylesheet" type="text/css">
</head>

<body class="profile-body">

    <h1 class="logo">Interactive Map <br> <a class="logo-move">of Japan</a></h1>

    <a href="/" class=""><img src="/assets/img/japan.png" class="profile-img" alt="Profile"></a>
    
    <h2 class="greetings">Back to map</h2>
    <input type="hidden" id="user-id" value="<%= user_id %>">
    <input type="hidden" id="user-email" value="<%= email %>">
    <input type="hidden" id="user-name" value="<%= name %>">
    <input type="hidden" id="user-type" value="<%= user_type %>">

    <div class="profile-section">
        <div class="profile-greetings">
                <h2 class="welcome">Welcome back,&nbsp;<a style="color:#f54b55;"><%= name %></a></h2>
        </div>
        <div class="buttons">
            <input type="button" class="admin-panel" value="Admin panel" hidden>
            <input type="button" class="change-password" value="Change password">
            <input type="button" class="delete-account" value="Delete account">
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="logout-button"> Logout </button>
            </form>
        </div>
        <h3 class="activity-title">Your activity:</h3>
        <div class="Activity-box">

        </div>
    </div>
    <!-- Stopa -->
    <div class="footer-box">
        <span class="footer-author">
            Interactive map of culture and monuments from ancient and modern Japanese mythology.
            <br>
            Author: Bartosz Sobański
        </span>
    </div>

    <script src="/scripts/objectRandom.js"></script>
    <script src="/scripts/commentHandlers.js"></script>
    <script src="/scripts/object.js"></script>
    <script src="/scripts/profileActivity.js"></script>
</body>
</html>

